

@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/_mixins";


// Finally load bootstrap
@import "node_modules/bootstrap/scss/bootstrap";


.text-smallcaps {
    font-variant: small-caps;
}

.img-header {
    object-fit: cover;
    object-position: 0 0;
    height: 20em;
    width: 100%;
}

a {
    &.nav-link.active {
        border-bottom: 2px solid $gray-800;
    }
}

.card-img-top {
    object-fit: cover;
    object-position: 0 0;
    height: 15em;
    width: 100%;
}

.img-grid {
    object-fit: cover;
    object-position: 0 0;
    height: 10em;
    width: 100%;
}