

@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/_mixins";
@import "node_modules/bootstrap/scss/bootstrap";

$bootstrap-icons-font-src: url("node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff2") format("woff2"),
url("node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff") format("woff") !default;
@import "node_modules/bootstrap-icons/font/bootstrap-icons.scss";

@import "timeline";

.text-smallcaps {
    font-variant: small-caps;
}

.img-header {
    object-fit: cover;
    object-position: 0 0;
    height: 20em;
    width: 100%;
}

a {
    &.nav-link.active {
        border-bottom: 2px solid $gray-800;
    }
}

.card-img-top {
    object-fit: cover;
    object-position: 0 0;
    height: 15em;
    width: 100%;
}

.img-grid {
    object-fit: cover;
    object-position: 50% 50%;
    height: auto;
    max-width: 100%;
    margin-top:1em;
}

@include media-breakpoint-up(xxl){
    .img-grid {
        height: 15em;
    }
}


